<hr>
<h1>List New Service</h1>
<hr>
<div class="my-2 my-lg-0 inner-content-wrapper">
  <%= form_for(@service, :url => new_service_path, :html => { :method => :post }) do |f| %>
    <%= render 'services/form', { :f => f, :classifications => @classifications } %>
  <% end %>
</div>