<hr>
<h1>Edit Request</h1>
<hr>
<div class="my-2 my-lg-0 inner-content-wrapper">
  <%= form_for(@request, :url => request_path(@request), :html => { :method => :put }) do |f| %>
    <%= render 'requests/form', { :f => f, :classifications => @classifications } %>
  <% end %>
</div>