<hr>
<h1 style="text-align:center">My Services</h1>
<hr>
<div id="services-table">
  <%= render 'services/services_table', :services => @services %>
</div>  
<br>
<hr>
<h1 style="text-align:center">My Requests</h1>
<hr>
<div id="services-table">
  <%= render 'requests/requests_table', :requests => @requests %>
</div>