<div id="sign-up-wrapper">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control reg-form-field" %>

    <%= f.password_field :password, :placeholder => "Password (min 6 characters)", :class => "form-control reg-form-field" %>

    <%= f.submit "Login", :class => "btn btn-outline-danger" %>
  <% end %>
</div>
