<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>&copy; Copyright 2019 Difm Network.  All Rights Reserved</small>
    <p style="margin-top: 15px; margin-bottom: 0px"><%= image_tag('stripe.png', :height => '50px') %><%= image_tag('ssl.png', :height => '50px') %></p>
  </div>
</footer>